<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Social Media Survey</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
    </head>
    <body>
        <body>
            <div class="container">
                <!-- Static navbar -->
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Survey</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="/">Home</a>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                    <!--/.container-fluid -->
                </nav>
                {% if isShowAlert == true %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Oops!</strong>
                        It seems that you have done this survery before.
                    </div>
                {% endif %}

                <!-- Main component for a primary marketing message or call to action -->
                <div class="jumbotron">
                    <div style="text-align:center;">
                        <h1>Survey for Social Media Usage</h1>
                    </div>
                    <div id="content_first">
                        <p>Thank you for participating in this study. This is an academic study aimed at understanding your Facebook usage. There are
                            <b>two steps</b>
                            to complete the study.
                        </p>
                        <p>
                            <b>Step 1:</b>
                            You need to give permission to access your Facebook profile, friend list, posts, photos, videos, messages, likes and your friends’ comments on your posts.
                        </p>
                        <p>
                            <b>Step 2:</b>
                            You will be given a survey ID after you finish step 1. Copy the survey ID, and click the link to an online survey. Paste the survey ID as the answer to the first question of the online survey. Complete the rest part of the online survey.
                        </p>

                        <br>
                        <p>After you finish these two steps, you will be given $7 as reimbursement for your effort. Please be informed that all information recorded in this study will be kept strictly confidential, and will only be used for research purposes.</p>
                        <p>If you have any queries, please contact Mr.Haifeng Xu at
                            <a href="mailto:xu-haif@comp.nus.edu.sg">xu-haif@comp.nus.edu.sg</a>. Thank you.</p>
                        <p>Now please click the following button to give us permission to access your Facebook profile, friend list, posts, photos, videos, messages, likes and your friends’ comments on your posts.
                            <br>
                        </p>
                        <p style="margin:0 auto; text-align:center;">
                            <!-- <a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal" role="button">Start</a> -->
                            <button id="startBtn" class="btn btn-primary">Start</button>
                        </p>
                    </div>
                </div>
                <div id="content_second" style="display: none;">
                    <h3>Please acknowledge the following consent form to proceed:</h3>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="acknowledged">
                            I hereby acknowledge that:
                        </label>
                    </div>
                    <div>
                        1. I have agreed to take part in the above research.<br>
                        2. I have received a copy of this information sheet that explains the use of my data in this research. I understand its contents and agree to donate my data for the use of this research.<br>
                        3. I can withdraw from the research at any point of time by informing the Principal Investigator and all my data will be discarded.<br>
                        4. I will not have any financial benefits that result from the commercial development of this research.<br>
                        5. I consent to have the coded data made available for future research.<br>
                    </div>
                    <br>
                    <p>
                        <strong>We advise people who are addicted to SNSs to seek professional help from psychological counsellors. Do you want to be informed if you are likely to be addicted to SNSs?</strong>
                    </p>
                    <div style="text-align: center;">
                        <div class="radio-inline" style="margin-right: 1em;">
                            <label>
                                <input type="radio" name="sns" id="checked1" value="yes" checked>
                                Yes
                            </label>
                        </div>
                        <div class="radio-inline" style="margin-left: 1em;">
                          <label>
                              <input type="radio" name="sns" id="checked2" value="no">
                              No
                          </label>
                        </div>
                    </div>
                    <p style="margin:0 auto; text-align:center;">
                        <button class="btn btn-primary" id="submitBtn">Submit</button>
                    </p>
                </div>

            </div>
            <!-- /container -->

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Attention:</h4>
                        </div>
                        <div class="modal-body">
                            Facebook Usage app will receive the following info: your Facebook profile, friend list, posts, photos, videos, messages, likes and your friends’ comments on your posts.
                            <br>
                            <b>IMPORTANT * After you give permission to the Facebook, the Browser may appear to be stuck. That is normal because the backend is processing data.
                                <br>
                                Please do not close or refresh the page until a finishing page show up. It may take a few minutes to process. Thank you.*</b>
                            <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-lg btn-primary" href={{loginURL}}>Login Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="js/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="js/bootstrap.min.js"></script>
            <script src="js/home.js"></script>
        </body>
    </html>
