<p>
  <h1>Welcome!</h1>
</p>
<p>
  <p>We are conducting a study about social network usage. In this study, we need to design an app on Heroku to obtain Facebook users’ real activity data. The basic requirement is like this: We first provide users with a link of the app. After users click the link, they are required to give us authorization to access their Facebook usage data, including user profile, friend list, posts, messages, comments, photos and videos etc. We access the data and store it in our database. After the users give us authorization, a link will appear on the screen. They can click the link to finish an online survey.
</p>
	<a href={{ loginURL }}>Login</a>
</p>